@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9837 0.0019 264.5449);
  --foreground: oklch(0.2096 0.0109 264.3076);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2096 0.0109 264.3076);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2096 0.0109 264.3076);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9525 0.0029 264.5416);
  --secondary-foreground: oklch(0.3103 0.0197 264.2318);
  --muted: oklch(0.9525 0.0029 264.5416);
  --muted-foreground: oklch(0.5404 0.0257 264.3337);
  --accent: oklch(0.5424 0.2454 293.016);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9044 0.006 264.5302);
  --input: oklch(0.9044 0.006 264.5302);
  --ring: oklch(0.795 0.184 86.047);
  --chart-1: oklch(0.795 0.184 86.047);
  --chart-2: oklch(0.5424 0.2454 293.016);
  --chart-3: oklch(0.6776 0.1481 238.1044);
  --chart-4: oklch(0.5202 0.2274 311.0097);
  --chart-5: oklch(75.731% 0.15159 110.397);
  --sidebar: oklch(0.9672 0.0039 264.5386);
  --sidebar-foreground: oklch(0.3576 0.0238 264.2114);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9365 0.0039 264.5381);
  --sidebar-accent-foreground: oklch(0.795 0.184 86.047);
  --sidebar-border: oklch(0.9205 0.0049 264.5343);
  --sidebar-ring: oklch(0.795 0.184 86.047);
  --font-sans: Geist Mono, JetBrains Mono, monospace;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, JetBrains Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: 0, 0%, 0%;
  --shadow-2xs: 0px 4px 12px 0px hsl(0, 0%, 0% / 0.02);
  --shadow-xs: 0px 4px 12px 0px hsl(0, 0%, 0% / 0.02);
  --shadow-sm:
    0px 4px 12px 0px hsl(0, 0%, 0% / 0.04),
    0px 1px 2px -1px hsl(0, 0%, 0% / 0.04);
  --shadow:
    0px 4px 12px 0px hsl(0, 0%, 0% / 0.04),
    0px 1px 2px -1px hsl(0, 0%, 0% / 0.04);
  --shadow-md:
    0px 4px 12px 0px hsl(0, 0%, 0% / 0.04),
    0px 2px 4px -1px hsl(0, 0%, 0% / 0.04);
  --shadow-lg:
    0px 4px 12px 0px hsl(0, 0%, 0% / 0.04),
    0px 4px 6px -1px hsl(0, 0%, 0% / 0.04);
  --shadow-xl:
    0px 4px 12px 0px hsl(0, 0%, 0% / 0.04),
    0px 8px 10px -1px hsl(0, 0%, 0% / 0.04);
  --shadow-2xl: 0px 4px 12px 0px hsl(0, 0%, 0% / 0.1);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.143 0.0048 263.4184);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1771 0.0079 264.3504);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1771 0.0079 264.3504);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.852 0.199 91.936);
  --primary-foreground: oklch(0.476 0.114 61.907);
  --secondary: oklch(0.2536 0.0096 264.3885);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2536 0.0096 264.3885);
  --muted-foreground: oklch(0.719 0.0092 264.5074);
  --accent: oklch(0.6075 0.2126 296.3929);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.274 0.0108 264.3806);
  --input: oklch(0.274 0.0108 264.3806);
  --ring: oklch(79.483% 0.16549 109.655);
  --chart-1: oklch(79.483% 0.16549 109.655);
  --chart-2: oklch(0.6075 0.2126 296.3929);
  --chart-3: oklch(0.6776 0.1481 238.1044);
  --chart-4: oklch(0.5795 0.2236 311.9953);
  --chart-5: oklch(75.074% 0.12341 85.878);
  --sidebar: oklch(0.1299 0.0042 262.6647);
  --sidebar-foreground: oklch(0.8017 0.0064 264.5254);
  --sidebar-primary: oklch(78.82% 0.1675 112.732);
  --sidebar-primary-foreground: oklch(0.2659 0.0633 152.4103);
  --sidebar-accent: oklch(0.2328 0.0084 264.3981);
  --sidebar-accent-foreground: oklch(76.678% 0.15397 104.03);
  --sidebar-border: oklch(0.2328 0.0084 264.3981);
  --sidebar-ring: oklch(78.82% 0.1675 112.732);
  --font-sans: Geist Mono, JetBrains Mono, monospace;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, JetBrains Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: 0, 0%, 0%;
  --shadow-2xs: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.25);
  --shadow-xs: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.25);
  --shadow-sm:
    0px 8px 15px 0px hsl(0, 0%, 0% / 0.5), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.5);
  --shadow:
    0px 8px 15px 0px hsl(0, 0%, 0% / 0.5), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.5);
  --shadow-md:
    0px 8px 15px 0px hsl(0, 0%, 0% / 0.5), 0px 2px 4px -1px hsl(0, 0%, 0% / 0.5);
  --shadow-lg:
    0px 8px 15px 0px hsl(0, 0%, 0% / 0.5), 0px 4px 6px -1px hsl(0, 0%, 0% / 0.5);
  --shadow-xl:
    0px 8px 15px 0px hsl(0, 0%, 0% / 0.5),
    0px 8px 10px -1px hsl(0, 0%, 0% / 0.5);
  --shadow-2xl: 0px 8px 15px 0px hsl(0, 0%, 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}


